.App {
  position: fixed;
  text-align: center;
  height: 100%;
  width: 100%;

  background-image: linear-gradient(to right, #989694 , #f6f3ef, #989694);



}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.center{
  align-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




#rules-container{

  position: absolute;
  width: 96%;
  left: 2%;
  top: 7%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  border: 2px solid black;
}

.page-title{
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  padding: 1%;
  font-family: "Comic Sans MS";

}


