.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 3%;
}

div[type="bar-part"]{
    display: flex;
    align-items: center;
    position: absolute;
}

#mainBar{
    right: 20px;
}

#secondBar{
    left: 40px;

}
.userDetails{
    background-color: #7c7c7c;
    color: white;
    margin-right: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    clip-path: circle(40% at 50% 50%);
    border: 1px solid white;
    padding: 15px;
}

.userDetails:hover{
    background-color: white;
    color: #7c7c7c;
}

.buttonLog {
    background-color: yellow;
    margin-right: 10px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;

}

.buttonLog:hover{
    background-color: #a19a05;
}

.item {
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
    font-size: x-large;
    border-radius: 8px;
    padding: 5px;
}

.item:hover {
    background-color: lightcoral;
}

.selected {
    background-color: #e77373;
}
