#main-bets-container{

    right: 1%;
    width: 20%;
    top: 15%;
    background-image: linear-gradient(to right, #989694 , #f6f3ef, #989694);
    height: 70%;

}



#bets-container{
    max-height: 75%;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 10px;
}






.bet{

    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 3px;
    padding: 10px;
}

.chosen-bet{
    font-weight: bold;
    padding: 10px;
    text-align: left;
    font-size: 18px;
}


#bet-summary{
    position: absolute;
    bottom: 0;
    width: 86%;
    background-image: linear-gradient(to bottom, #f6f3ef, #e7e5e1,#f6f3ef );
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);

}


#total-ratio{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

#bet-input{
    border-radius: 8px;
    font-size: 15px;
    font-weight: bolder;

}

#bet-button{
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 5px;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) ;
}

#bet-button:hover{
    background: #f1e89b;
}