


.topScorer-container{

    width: 30%;
    left: 35%;
    top: 30%;
    height: 50%;

}

#topScorer-table{
    top: 10%;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 25px;
    border-collapse: collapse;
    border-radius: 10px;

}






.home-table {

    width: 25%;
    top: 18%;
    left: 1%;
    height: 80%;

}

.away-table {

    width: 25%;
    top: 18%;
    right: 1%;
    height: 80%;


}

.table-type-title{
    font-weight: bold;
    font-size: 40px;
    font-family: "Agency FB";
    color: red;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#home-table-title{
    top: 10%;
    left: 1%;
    transform: skew(-10deg);
}


#away-table-title{
    top: 10%;
    right: 1%;
    transform: skew(10deg);
}

#topScorer-title{
    width: 100%;
    top: 23%;
    font-style: italic;
}