.bigTable-container {
    font-family: Arial, sans-serif;
    overflow-x: auto;
    position: absolute;
    width: 98%;
    left: 1%;
    top: 7%;
    height: 91%;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}




.smallTable-container {
    font-family: Arial, sans-serif;
    position: absolute;
    width: 50%;
    top: 7%;
    left: 0.5%;
    height: 91%;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}


.main-minTable-container {
    font-family: Arial, sans-serif;
    position: absolute;
    width: 25%;
    top: 10%;
    left: 1%;
    height: 80%;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}


.minTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 15px;
    border-radius: 10px;



}

.bigTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 18px;
    border-radius: 10px;



}
.smallTable {

    height: 100%;
    width: 100%;
    border-collapse: collapse;
    font-size: 17px;

    border-radius: 10px;
}


th, td {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid #a4a4a3;


}

th {
    background-color:#f2f2f2;
    color: #0c0c0c;
}

td {
    background-color: #d7d4d4;
}

.teamName {
    font-weight: bold;
}

.teamName {
    color: #0c0c0c;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.teamName:hover {
    text-decoration: underline;
    color: #9a9797;
}


.teamName-players-container{
    position: absolute;
    right: 10px;
    width: 350px;
    height: 91%;
    top: 7%;
    background: linear-gradient(to bottom , rgba(147, 142, 142, 0.75), white, rgba(147, 142, 142, 0.75));
    font-family: 'Arial', sans-serif;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
    border: 2px solid black;/* פינות מעגליות בצד ימין */
}

#teamNameTitle{

    width: 350px;
    background-color: black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px rgb(253, 253, 253);
    border-radius: 10px; /* פינות מעגליות בצד ימין */
}



.teamPlayers {
    position: fixed;
    top: 25%;
    width: 350px;
    padding: 10px;
    background-color: #1f1f1f;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}

.teamPlayers caption {
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #0c0c0c;
    border: 1px solid #ccc
}

.teamPlayers td {
    padding-left: 0;
    text-align: left;
    color: #0c0c0c;
    border-radius: 10px;
}
